.App {
  max-width: 960px;
  margin: 0 auto;
}

.App header {
  text-align: center;
  margin: 40px 0;
}

.App h1 {
  font-weight: 700;
  letter-spacing: 1.8px;
  color: #61a4bc;
  font-size: 45px;
}

.App footer {
  text-align: center;
  margin: 50px 0;
}
