.Dictionary section {
  background: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(56, 81, 112, 0.1);
  margin: 30px;
}

.Dictionary .form-control {
  height: 50px;
  color: #474747;
  letter-spacing: 0.02em;
  font-size: 17px;
}

.Dictionary .form-control:focus {
  border-color: #61a4bc;
  box-shadow: 0 0 0 0.25rem rgb(77 164 234 / 17%);
}
.Dictionary .search-button,
.Dictionary .search-button:active {
  background: #61a4bc !important;
  color: white;
  border: none;
  font-weight: 700;
  height: 50px;
  letter-spacing: 1.8px;
  padding: 0;
  font-size: 17px;
}

@media (max-width: 768px) {
  .Dictionary .search-button {
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .Dictionary section {
    padding: 30px 20px;

    margin: 20px;
  }
}
